.main {
	background-color: #fff;
	background-color: rgba(255,255,255,0.7);
	min-height: 30vh;
	width: 100%;
	padding: 50px;
}

.titr {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

.tout{
	max-width: 1400px;
	margin: 0 auto; /* this for center div */
	display: flex;
	align-items: center;
}

.avatar {
	width: 30%;
	margin-right: 5%;
	text-align: right;
}
.about {
	width: 60%;
	padding: 2%;
}

.about h5 h4{
	align-items: center;
	font-family: 'Courier New', Courier, monospace;
}



@media screen and (max-width: 768px) {
	.tout {
		text-align: center;
		display: block;
		}
}

@media screen and (max-width: 768px) {
	.tout {
		text-align: center;
		display: block;
	}
	.about {
		width: 100%;
	}
	.avatar {
		width: 100%;
		text-align: center;
	}
}
