.parcours {
	background-color: #fff;
	opacity: 0.7;
	min-height: 50vh;
	width: 100%;
	padding: 20px;
	position: relative;
}

.all{
	z-index: -1;
	margin-top: 2%;
	display: flex;
	max-width: 1400px;
	margin: 0 auto; /* this for center div */
}

.body-parcours{
	display: block;
	width: 50%;
}

.part{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 30%;
	display: block;
	margin: 1%;
	padding: 2%;
}

.parcours h4 {
	color: #242424;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
}

.parcours h1 {
	color: #242424;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

.parcours p {
	color: #242424;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}



.details{
	border: 1px solid black;
	z-index: 2;
	display: block;
	margin-top: 2%;
	text-align: center;
	left: 3%;
	width: 45%;
	height: 70%;
	top: 12%;
	background-color: #242424;
	position: absolute;
	padding: 15px;
	animation: 0.5s linear;
}

@keyframes forward {
	0%
	{
		left: -50%
	}
	100%
	{
		left: 3%
	}
}
@keyframes backward {
	0%
	{
		left: 3%
	}
	100%
	{
		left: -50%
	}
}


.details p{
	/* color: black; */
	color: #fff;
	text-align: left
}
.details h3{
	/* color: black; */
	color: #fff;
	text-align: left;
	text-align: center;
	text-decoration: underline;
}


@media screen and (max-width: 768px) {
	.all {
		display: block;
		width: 100%;
	}
	.body-parcours {
		display: block;
		width: 100%;
	}
	.details{
	width: 100%;
	left: 10%;
	height: 50%;
	}
}

@media screen and (max-width: 900px) {
	.all {
		display: block;
		width: 100%;
	}
	.body-parcours {
		display: block;
		width: 100%;
	}
	.details{
	width: 70%;
	left: 15%;
	height: 50%;
	}
}

